<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company detiles</title>
</head>

<body>
    <div class="flex justify-center  ">
        <nav class="self-center w-full max-w-7xl  ">
            <div class="flex flex-col lg:flex-row justify-around items-center ">
                <img src="assets/images/service-icon-01.png" class="py-4" alt="">

                <h5 class="uppercase pl-1 py-3 text-lg font-sans font-bold">
                    OPTIMUM FASHION WAER LTD
                </h5>
                <ul class="hidden lg:flex items-center text-[18px] font-semibold pl-32">
                    <li class="hover:underline  underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5">
                        <a href="/">Home</a>
                    </li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                            href="/gallary">Gallary</a></li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                            href="/des">Services</a></li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                            href="/portpolio">About</a></li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                            href="/meeting">View</a></li>
                </ul>
                <div class=" text-center text-base pr-5  inline-flex"> <a href="#"
                        class="w-8 h-8 inline-block rounded-full pt-[6px] hover:text-blue-500"><i
                            class="fa fa-twitter"></i></a> <a href="#"
                        class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                            class="fa fa-instagram"></i></a> <a href="#"
                        class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                            class="fa fa-facebook"></i></a> <a href="#"
                        class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                            class="fa fa-google"></i></a> <a href="#"
                        class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                            class="fa fa-linkedin"></i></a> </div>
            </div>
        </nav>
    </div>


    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="flex flex-wrap w-full">
                <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
                    <div class="flex relative pb-12">
                        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                        </div>
                        <div
                            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Director </h2>
                            <p class="leading-relaxed">Dec 2006 - Present16 years 6 months Shashongaon, Enayetnagar,
                                Fatullah, Narayanganj. Total Marketing for to fulfill factory's production capacity and
                                all foreign Buyer communication. Doing all costing as well as follow up total
                                merchandising
                            </p>
                        </div>
                    </div>
                    <div class="flex relative pb-12">
                        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                        </div>
                        <div
                            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Director</h2>
                            <p class="leading-relaxed"> Dec 2006 - Present16 years 6 months Shashongaon, Enayet
                                Nagar,Fatullah, Narayanganj-1400 Marketing/Buyer corresponding</p>
                        </div>
                    </div>
                    <div class="flex relative pb-12">
                        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                        </div>
                        <div
                            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <circle cx="12" cy="5" r="3"></circle>
                                <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">DIRECTOR</h2>
                            <p class="leading-relaxed"> Dec 2006 - Present16 years 6 months VOLAIL, FATULLAH,
                                NARAYANGANJ Responsibility for Total marketing for Optimum Fashions Wear Ltd. for export
                                volume $1,000,000.00/month and follow up production plan/samples/technical servise
                                etc
                            </p>
                        </div>

                    </div>
                    <div class="flex relative">
                        <div
                            class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                <path d="M22 4L12 14.01l-3-3"></path>
                            </svg>
                        </div>

                        <div class="flex-grow pl-4">
                            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Owner</h2>
                            <p class="leading-relaxed">
                                Mar 2006 - Present17 years 3 months Owner/Director
                            </p>
                        </div>

                    </div>
                </div>
                <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12"
                    src="/assets/images/video-item-bg.jpg" alt="step">
            </div>
        </div>
    </section>
    <div class="flex items-center justify-center text-center">
        <div class="flex flex-col p-2 m-2  max-w-7xl">
            <div class="text-3xl font-medium"> Our Team</div>
            <div class="text-sm mx-2 md:text-xl text-stone-500">OPTIMUM FASHION WARE LTD.</div>
            <div class="text-sm mx-2 md:text-xl mb-2 text-stone-500">OUR communinty</div>


            <div class="flex items-center justify-center md:flex-row flex-col space-x-4  p-2">

                <div class="flex items-center ml-4 md:ml-0 space-x-2 px-6 py-2 md:w-1/3 w-full  ">
                    <div class="md:h-40 h-28 w-28 md:w-40 rounded-full overflow-hidden bg-gray-200">

                        <img src="/assets/images/video-item-bg.jpg" alt="" class="" />
                    </div>
                    <div class="flex-col">

                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">Mohammad
                            Zakir Hossain
                        </div>
                        <div class=" italic text-gray-500">CEO,at Optimum Sourcing Int'l Ltd </div>
                    </div>
                </div>
                <div class="flex items-center  space-x-2 px-6 py-2 md:w-1/3 w-full  ">
                    <div class="md:h-40 h-28 w-28 md:w-40 rounded-full overflow-hidden bg-gray-200">

                        <img src="/img/tem1.jpg" alt="" class="" />
                    </div>
                    <div class="flex-col">

                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">Farjana
                            Ahmed </div>
                        <div class=" italic text-gray-500">Senior Merchandise</div>
                    </div>
                </div>
                <div class="flex items-center  space-x-2 px-6 py-2 md:w-1/3 w-full  ">
                    <div class="md:h-40 h-28 w-28 md:w-40 rounded-full overflow-hidden bg-gray-200">

                        <img src="/img/tem.jpg" alt="" class="" />
                    </div>
                    <div class="flex-col">

                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">Naznin
                            yeasmin Smrity

                        </div>
                        <div class=" italic text-gray-500">Director Global Sourcing
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex space-x-4  p-2 items-center justify-center md:flex-row flex-col ">
                <div class="flex items-center ml-4 md:ml-0 space-x-2 px-6 py-2 md:w-1/3 w-full  ">
                    <div class="md:h-40 h-28 w-28 md:w-40 rounded-full overflow-hidden bg-gray-200">

                        <img src="/img/tem2.jpg" alt="" class="" />
                    </div>
                    <div class="flex-col">

                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">Hira Das
                        </div>
                        <div class=" italic text-gray-500">Senior Merchandiser </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <footer class="text-gray-400 bg-white body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <img src="assets/images/service-icon-01.png" alt="">
                <span class="ml-3 text-xl text-blue-500">OPTIMUM FASHION WARE LTD</span>
            </a>
            <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
                THIS COMPANY BEST FOR YOU —
                <a href="/company" class="text-blue-500 ml-1" target="_blank" rel="noopener noreferrer">@CEO</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-400">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-400">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-400">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-400">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>



</body>

</html>